
* {
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

button, 
input[type="submit"],
input[type="button"] {
    color: white;
    background-color: #745AF2;
    border: none;
    border-radius: 3px;
    padding: .5em 1em;
    font-size: 1rem;
    /* font-size: 1rem; */
}

.hidden {
    display: none;
}

.remove {
    width: 20px;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
}

.head-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 0em;
    border-radius: 3px;
}

.filter input {
    font-size: 1.2rem;
}

.tracker-inputs {
    display: flex;
}

.add-tracker {
    width: 100%;
    background-color: #cacaca;
    border-radius: 3px;
    padding: 1em;
    /* margin: 0 auto; */
}

.add-tracker-input {
    margin-left: 2em;
    display: flex;
    align-items: flex-end
}

.input-tracker {
    display: inline-flex;
    flex-flow: column nowrap;
}

.input-tracker input {
    max-width: 200px;
    font-size: 1.2rem;
    
    margin: .2em 1em 0 0;
    
}


.tracked-words {
    margin: 3em 0;
}

.tracked {
    border-radius: 10px;
    display: inline-block;
    padding: 0.3em .6em;
    background-color: #745AF2;
    color: white;
    margin-right: .5em;
}


.tracker-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0em 1em;
    background-color: #FDE698;
    border-radius: 4px;
    /* border: 2px solid black; */
    margin: 1em 0;
}

.tracker-item-list {
    opacity: .8;
}
